@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

h2 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

.cont {
    justify-content: center;
    align-items: center;
    display: flex;
}
