<footer class="bg-dark text-center text-white p-3">
    <div class="container p-3 pb-0 text-center">
        <section>
          <a class="btn btn-primary btn-floating m-2 bg-gradient"
            href="https://www.facebook.com/Axcatering-108272415126382" role="button"><i
              class="bi bi-facebook"></i></a>
          <a class="btn btn-danger btn-floating m-2 bg-gradient" href="https://www.instagram.com/alexeos_catering"
            role="button"><i class="bi bi-instagram"></i></a>
          <a class="btn btn-success btn-floating m-2 bg-gradient"
            href="https://api.whatsapp.com/send/?phone=541138539658&text&type=phone_number&app_absent=0"
            role="button"><i class="bi bi-whatsapp"></i></a>
        </section>
      </div>
    <div class="text-center p-2">
        <p>Alexeo's Catering Servicio de Catering</p>
        <img src="./assets/santod.png" width="120px">
    </div>
</footer>