<nav class="navbar bg-dark border-bottom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./assets/santod.png" width="120px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <i class="bi bi-three-dots-vertical"></i>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header text-center">
        <h2 class="offcanvas-title text-center" id="offcanvasNavbarLabel"><img src="./assets/Alexeos.png"
            width="70px"><br>
          Ax'Catering</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p class="h6 text-center text-secondary">Nuestro Menú</p>
        <ul class="navbar-nav  justify-content-end flex-grow-2 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="#cafeteria">Cafeteria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#postres">Postres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#entradas">Entradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#principales">Principales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pastas">Pastas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#porciones">Porciones</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#bebidas">Bebidas</a>
          </li>
          <li class="nav.item pt-3">
            <a class="nav-link" href="#AcercaDe"><p class="h6">Nuestros Servicios</p></a>
          </li>
          <li>
            <div class="container p-3 pb-0 text-center">
              <hr>
              <p  class="h6">Redes Sociales</p>
              <section>
                <a class="btn btn-primary btn-floating m-2 bg-gradient"
                  href="https://www.facebook.com/Axcatering-108272415126382" role="button"><i
                    class="bi bi-facebook"></i></a>
                <a class="btn btn-danger btn-floating m-2 bg-gradient" href="https://www.instagram.com/alexeos_catering"
                  role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-success btn-floating m-2 bg-gradient"
                  href="https://api.whatsapp.com/send/?phone=541138539658&text&type=phone_number&app_absent=0"
                  role="button"><i class="bi bi-whatsapp"></i></a>
              </section>
              <p></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>