
    <div class="container p-5">
        <p class="h1 text-center">Acerca de Nuestros y Nuestros Servicios</p>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio sint assumenda corrupti veritatis asperiores pariatur suscipit possimus deleniti earum numquam necessitatibus nisi impedit quidem, obcaecati quam! Reiciendis doloremque debitis sed!</p>

    </div>
    <footer class="bg-dark text-center text-white">
        <div class="container p-4 pb-0">
    
            <section>
                <a class="btn btn-outline-light btn-floating m-1"
                    href="{{myData.facebook}}" role="button"><i
                        class="bi bi-facebook"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="{{myData.instagram}}"
                    role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1"
                    href="{{myData.whatsapp}}" role="button"><i
                        class="bi bi-whatsapp"></i></a>
            </section>
        </div>
        <div class="text-center p-3">Ax'catering
            <a class="text-white" href="https://wa.link/x59gnv"> Servicios de Catering</a>
        </div>
    </footer>