header {
    height: 200px;
    background-color: #85754E;
    background-image: url(../../assets/Alexeos.png);
    background-repeat: no-repeat;
    background-position:bottom;   
}
header.container {
    background-color: aliceblue;
}

* {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: block;
    background-color: #85754E;
}